.dishCard {
  /* border: 1.5px solid black; */
  padding: 20px;
  border-radius: 15px;
  display: inline-block;
  width: 300px;
  margin: 30px 10px;
  /* max-height: 150px; */
  background-color: white;
  box-shadow: 1px 2px 5px rgba(63, 63, 63, 0.265);
}

.dishCard:hover img {
  transform: translateY(-5px);
}

h2 {
  font-size: 18px;
}

h1 {
  margin: 50px 0;
}

.dishCard img {
  height: 150px;
  width: 100%;
  border-radius: 10px;
  margin-top: -50px;
  margin-bottom: 10px;
}

.dishCard button,
.cart button {
  display: flex;
  justify-self: end;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.dishCard button:hover {
  opacity: 0.5;
}

.cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  display: flex;
  gap: 20px;
}

.filter button {
  display: flex;
  justify-self: end;
  padding: 10px 30px;
  border: 1.5px solid grey;
  color: grey;
  background-color: transparent;
  border-radius: 5px;
  font-size: 18px;
}

.filter .active {
  color: rgb(2, 206, 36);
  border: 1.5px solid rgb(0, 198, 20);
  background-color: rgba(140, 255, 150, 0.427);
}

.filter button:hover {
  opacity: 0.5;
}

.menuList {
  margin-top: 20px;
  border-radius: 15px;
  padding: 20px 40px;
  background-color: rgb(233, 233, 233);
}

.amountCartCounter h2 {
  border-radius: 15px;
  border: 1.5px solid black;
  padding: 20px;
  /* box-shadow: 1px 2px 10px rgba(57, 67, 62, 0.292); */
}

.cartList {
  max-height: 450px;
  overflow-y: auto;
  margin: 20px 0 40px 0;
  border-radius: 15px;
  padding: 20px 40px;
  background-color: rgb(233, 233, 233);
}

.cartList::-webkit-scrollbar {
  visibility: hidden;
}